Install missing modules and imports

In [63]:
import sys
import subprocess
import pkg_resources

required = {'scipy', 'numpy', 'pandas', 'openpyxl'}
installed = {pkg.key for pkg in pkg_resources.working_set}
missing = required - installed

if missing:
    python = sys.executable
    subprocess.check_call([python, '-m', 'pip', 'install', *missing], stdout=subprocess.DEVNULL)

import pandas as pd
import numpy as np
import math

Transform to PD

In [69]:
file = 'data.xlsx'
df = [pd.read_excel(file, sheet_name = sheet) for sheet in ['CAC', 'DAX', 'IBEX35TR', 'IBEX', 'SX5E', 'SX5T', 'SMI']]
for i in range(len(df)):
    df[i] = df[i].drop(0)

Helpers

In [70]:
def MSE(A, B):
    err = 0
    for i in range(len(A)):
        payoff = max(A[i] - K, 0)
        err += (payoff - B[i])**2
    return err

Split data train test

In [74]:
train_per = 0.6
train = [df[i].iloc[:math.floor(train_per*df[i].shape[0]) - math.floor(train_per*df[i].shape[0]) % 10] for i in range(len(df))]
test = [df[i].iloc[math.floor(train_per*df[i].shape[0]) - math.floor(train_per*df[i].shape[0]) % 10:(df[i].shape[0]//10)*10] for i in range(len(df))]
K = 5000

MÃ©thode I : Split en dizaine

In [78]:
train_D = [[train[i][j:j+10] for j in range(0,len(train[i]),10)] for i in range(len(train))]
train_CAC40 = train_D[0]
train_CAC40[0]

        DATES  DELTA_DAYS  PX_LAST  PX_HIGH   PX_LOW  PX_VOLUME      S1/S
1  2000-11-22           1  5944.70  6049.60  5937.37   47470800  0.977583
2  2000-11-23           1  6053.04  6055.21  5933.08   37599950  1.018225
3  2000-11-24           1  6145.65  6162.88  5989.13   47878450  1.015300
4  2000-11-27           3  6171.33  6254.17  6167.45   40542910  1.004179
5  2000-11-28           1  6069.22  6172.77  6055.04   68980960  0.983454
6  2000-11-29           1  6060.65  6091.58  5978.96   51022320  0.998588
7  2000-11-30           1  5928.08  6015.86  5893.54   61617140  0.978126
8  2000-12-01           1  5928.50  6023.11  5915.33   49440530  1.000071
9  2000-12-04           3  5791.51  5933.31  5763.18   37464750  0.976893
10 2000-12-05           1  5994.89  5994.89  5836.83   52939960  1.035117

Calcul de Ku, Kd et lamda

In [80]:
Ku = np.ones(len(train_CAC40[0]))
Kd = np.ones(len(train_CAC40[0]))

for i in range(len(train_CAC40)):
    for j in range(len(train_CAC40[i])):
        if train_CAC40[i].iloc[j]['S1/S'] > Ku[j] :
            Ku[j] = train_CAC40[i].iloc[j]['S1/S']
        if train_CAC40[i].iloc[j]['S1/S'] < Kd[j] :
            Kd[j] = train_CAC40[i].iloc[j]['S1/S']

lamda = [(1 - Kd[i])/(Ku[i] - Kd[i]) for i in range(len(Ku))]

print(lamda)

[0.4247858360328942, 0.48348624591432005, 0.3679381593205668, 0.7079199239860914, 0.4361113692086236, 0.5930218312533434, 0.5994858957328042, 0.6509185029163397, 0.3794085021298296, 0.5629863465117544]